@font-face {
    font-family: 'Raleway';
    src: url('../fonts/static/Raleway-Regular.ttf') format('truetype')
}

*{
    font-family: 'Raleway';
    list-style-type: none;
}

/* Réinitialiser */
body, ul, li, h1, h2, p, figure{
    margin:0;
    padding: 0;
}

#logo{
    display: flex;
    align-items: center;
    width: 30%;
}

#logo img{
    width: 115px;
}

#blocpage{/*Propriétés de la page*/
    width: 1200px;
    margin: auto;
}

header{
    display: flex;
    height: 100px;
}

#menu1{
    width: 70%;
}

#menu1 ul{
    height: auto;
    display: flex;
    float: right;

}

#menu1 ul li{
    margin-left: 15px;
    padding-top: 40px;
    border-top: 2px solid #ffffff00;
}

#menu1 ul li:hover{
    border-top: #0065FC 2px solid;
}

#liens a{
    color: #0065FC;
    text-decoration: none;
}

#haut h1{
    font-size: 1.4em;
    margin-bottom: 10px;
}

#txthaut{
    margin-bottom: 12px;
}

#search i{
    font-size: 1.4em;
    padding: 15px;
    background: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
    color: rgb(0, 0, 0);
}

#recherche{
    font-weight: bold;
    height: 51px;
    position: relative;
    left: -5px;
    top: -3px;
    border-radius: 0px;
    border: 1px #f2f2f2 solid;
    width: 300px;
    padding-left: 15px;
}

#send{
    height: 51px;
    color: white;
    background: #0065FC;
    border: 0;
    border-radius: 0px 20px 20px 0px;
    font-size: 1em;
    font-weight: bold;
    padding: 15px;
    position: relative;
    left: -8px;
    top: -2px;
}

#filtres{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.contenufiltres{
    border: #f2f2f2 2px solid;
    border-radius: 30px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    padding: 9px;
    font-weight: bold;
}

.contenufiltres i{
    color: #0065FC;
    background: #deebff;
    margin-right: 15px;
}


#texte{
    display: flex;
    margin-top: 30px;
}

#texte p{/*L'ordre était mauvais*/
    order: 2;
}

#texte i{
    order: 1;
}

#hébergement{
    display: flex;
    margin-top: 50px;
}

#bullesgauche{
    display: flex;
    flex-flow: wrap;
    margin-top: 30px;
}

.gauche{ /* Couleurs de fonds des bulles principales*/
    background-color: #f2f2f2;
    width: 70%;
    border-radius: 15px;
    margin-right: 30px;
    padding: 20px;
}

.droite{
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 15px;    
}

#activités{
    display: flex;
    flex-flow: wrap;
    margin-top: 50px;
}

footer{
    display: flex;
}